# Django Core
Django==5.2.7
djangorestframework==3.16.1

# Database
psycopg2-binary==2.9.11

# CORS handling
django-cors-headers==4.9.0

# Filtering
django-filter==25.2

# Environment variables
python-dotenv==1.2.1

# Production server
gunicorn==21.2.0
whitenoise==6.9.0

# Authentication
djangorestframework-simplejwt==5.5.1

# API documentation
drf-spectacular==0.28.0